package register

import (
	"log/slog"
	"net/http"

	"github.com/spf13/viper"
	"go.uber.org/fx"
	"go.uber.org/fx/fxevent"
	"go.uber.org/zap"
	"go.uber.org/zap/zapcore"

	"github.com/ix64/hatch/core"
	"github.com/ix64/hatch/health"
	"github.com/ix64/hatch/httpserver"
	"github.com/ix64/hatch/logging"
	"{{ .ModulePath }}/internal/config"
)

func Module() fx.Option {
	return fx.Options(
		fx.Provide(func(vp *viper.Viper) (*config.Config, error) {
			return core.LoadConfig[config.Config](vp, core.LoadConfigOptions[config.Config]{
				Defaults: config.Defaults(),
				Validate: config.Validate,
			})
		}),
		fx.Provide(newLoggingConfig),
		fx.Provide(logging.NewLogger),
		fx.Provide(logging.NewStdLogger),
		fx.Provide(newHTTPConfig),
		fx.Provide(httpserver.NewMux),
		fx.Provide(newHTTPHandler),
		fx.Provide(httpserver.AsRoute(core.NewBuildInfoRoute)),
		fx.Provide(httpserver.AsRoute(NewRootRoute)),
		fx.Provide(httpserver.AsRoute(health.NewRoute)),
		fx.Invoke(httpserver.RegisterRoutes),
		fx.Invoke(httpserver.RunServer),
		fx.WithLogger(func(logger *zap.Logger) fxevent.Logger {
			l := &fxevent.ZapLogger{Logger: logger.Named("fx")}
			l.UseLogLevel(zapcore.DebugLevel)
			return l
		}),
	)
}

func newLoggingConfig(cfg *config.Config) logging.Config {
	return cfg.Logger
}

func newHTTPConfig(cfg *config.Config) httpserver.Config {
	return cfg.Server
}

func newHTTPHandler(mux *http.ServeMux, logger *zap.Logger, stdLogger *slog.Logger, cfg httpserver.Config) http.Handler {
	return httpserver.NewHandler(mux, logger, stdLogger, cfg, nil)
}
