package register

import (
	"net/http"

	"github.com/ix64/hatch/httpserver"
)

type rootRoute struct{}

func NewRootRoute() httpserver.Route {
	return &rootRoute{}
}

func (r *rootRoute) Register(mux *http.ServeMux) {
	mux.Handle("GET /{$}", httpserver.Adapt(func(w http.ResponseWriter, req *http.Request) error {
		return httpserver.WriteJSON(w, http.StatusOK, map[string]string{
			"service": "{{ .BinaryName }}",
			"status":  "ok",
		})
	}))
}
