package register

import (
	"encoding/json"
	"net/http"

	"github.com/ix64/hatch/httpserver"
)

type rootRoute struct{}

func NewRootRoute() httpserver.Route {
	return &rootRoute{}
}

func (r *rootRoute) Register(mux *http.ServeMux) {
	mux.HandleFunc("GET /{$}", func(w http.ResponseWriter, req *http.Request) {
		w.Header().Set("Content-Type", "application/json")
		w.WriteHeader(http.StatusOK)
		_ = json.NewEncoder(w).Encode(map[string]string{
			"service": "{{ .BinaryName }}",
			"status":  "ok",
		})
	})
}
